
/* ----------------------------billboard poster------------------------------- */

.billboard-sort-title-wrap {
    margin-bottom: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* empty div */
.billboard-sort-title-wrap div:nth-child(3) {
    width: 100%;
    height: 75px;
}

.billboard-sort-dropdown {
    position: relative;
    display: inline-block;
}

.billboard-dropbutton {
    margin-right: 16px;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 50px;
    color: #2A385F;
    border: solid 1px #2A385F;
    min-width: 270px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.billboard-dropdown-content {
    margin: 0 0 0 2%;
    width: 90%;
    display: none;
    position: absolute;
    background-color: #ffffffb3;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 20;
    border-radius: 5px;
}

.billboard-dropdown-content a {
    color: #2A385F;
    padding: 8px 50px;
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-weight: 300;
}

.billboard-dropdown-content a:hover {
    background-color: #f1f1f1;
}

.billboard-dropdown-content.block .dropdown-arrow {
    transform: rotate(180deg);
    /* Поворачиваем стрелочку вверх при открытом списке */
}

.billboard-event-cards-wrap {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 25px;
}

/* clearfix */
.billboard-event-cards-wrap:after {
    content: '';
    display: block;
    clear: both;
}

/* billboard-card */
.visible {
    opacity: 1;
    transform: translateX(0);

}

.billboard-event-card {
    position: relative;
    height: 470px;
    width: 327px;
    flex: 0 0 calc(25% - 12px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(20%);
    transition: opacity 1.2s ease, transform 1.2s ease;
    border-radius: 4px;
}


/* появление карточек снизу */
.billboard-event-card.visible {
    opacity: 1;
    transform: translateY(0);
}

/* градиент карточки */
.billboard-event-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(42, 56, 96, 0.1) 0%, rgba(42, 56, 96, 0.6) 40%, rgba(42, 56, 96, 1) 70%);
    z-index: 1;
    border-radius: 4px;
}

.billboard-event-card-img-wrap {
    width: 100%;
    overflow: hidden;
}

.billboard-event-card-relative {
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
    /* width: 250px; */
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    /* Для старых версий Safari и Chrome */
    -moz-transform: translateX(-50%);
    /* Для старых версий Firefox */
    -ms-transform: translateX(-50%);
    /* Для старых версий Internet Explorer */
    -o-transform: translateX(-50%);
    /* Для старых версий Opera */
    z-index: 3;

}

.billboard-event-card-relative .red-button {
    display: inline-block;
    min-width: 100%;
    height: 45px;
    padding: 15px 15px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 90%;
    text-transform: uppercase;
    align-self: end;
}

.billboard-event-sort-description-wrap {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.billboard-event-special-marks {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 4px;
}

.billboard-event-sort-type {
    font-weight: 700;
    margin-right: 5px;
    margin-bottom: 4px;
}

.billboard-event-description {
    font-weight: 400;
}

.billboard-event-card-img {
    height: 470px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    transition: transform 0.3s ease;
    -webkit-transition: -webkit-transform 0.3s ease;
}

.billboard-event-card:hover .billboard-event-card-img {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
}

.billboard-event-date-wrap {
    position: absolute;
    width: 150px;
    height: 75px;
    top: 0;
    left: 0;
    padding: 10px 20px;

    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: #E06053;

    z-index: 10;

    border-radius: 4px;
}

.billboard-event-start-date-wrap,
.billboard-event-end-date-wrap {
    display: flex;
    flex-direction: column;
}

.billboard-event-start-month,
.billboard-event-end-month {
    font-size: 13px;
    font-weight: 600;
    line-height: 90%;
    margin-bottom: 5px;
}

.billboard-event-start-day,
.billboard-event-end-day {
    align-self: end;
    line-height: 90%;
    font-weight: 600;
}

.billboard-event-start-day {
    font-size: 39px;
}

.billboard-event-end-day {
    font-size: 26px;
}

.billboard-event-date-dash {
    align-self: center;
}



/* white card */
.billboard-event-card.billboard-event-card-white .billboard-event-date-wrap {
    color: #2A385F;
    background-color: #ffffff;
}

.billboard-event-card.billboard-event-card-white .billboard-event-date-wrap {
    color: #2A385F;
    background-color: #ffffff;
}

.billboard-event-card.billboard-event-card-white .billboard-event-card-relative .red-button {
    background-color: #fff;
    color: #2A385F;

}

/* ///// */

.billboard-bottom-cta {
    padding-top: 20px;
    border-top: 2px solid #2A3860;
}

.billboard-bottom-cta h3 {
    text-align: center;
    color: #2A3860;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2%;
    text-transform: uppercase;
}

.billboard-bottom-cta a {
    cursor: pointer;
    color: #E06053;
    font-weight: 600;
}

/* adaptive */

/* fhd-2k-4k */
@media (min-width: 1920px) {}

/* 1600-1919px */
@media (max-width: 1919px) {}

/* 1200-1599px */
@media (max-width: 1599px) {
    .billboard-event-cards-wrap {
        margin-bottom: 20px;
    }

    .billboard-event-card {
        position: relative;
        height: 420px;
        /* flex: 0 0 calc(33.33% - 10.67px); */
    }

    .billboard-event-card-img {
        height: 533px;
    }

    .billboard-bottom-cta h3 {
        font-size: 20px;
    }
}

/* 1024-1199px */
@media (max-width: 1199px) {
    .billboard-event-card {
        height: 420px;
        flex: 0 0 calc(33.33% - 10.67px);
    }

    .billboard-sort-title-wrap {
        margin-bottom: 45px;
    }
}

/* 769-1023px */
@media (max-width: 1023px) {
    .billboard-event-card {
        flex: 0 0 calc(50% - 8px);
    }
        .billboard-event-card:hover .billboard-event-card-img {
        transform: none;
        -webkit-transform: none;
    }

}

/* 641-767px */
@media (max-width: 768px) {
    .billboard-event-card {
        height: 380px;
    }
 .billboard-event-sort-description-wrap {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .billboard-sort-title-wrap {
        margin-bottom: 16px;
        flex-direction: column;
        align-items: start;
    }

    .billboard-sort-title-wrap div:nth-child(3) {
        display: none;
    }


    .billboard-dropbutton {
        margin-bottom: 16px;
    }
}

/* 481-639px */
@media (max-width: 640px) {
    .billboard-event-card-relative {
        padding: 0 15px;
    }

    .billboard-event-date-wrap {
        padding: 10px 15px;
        width: 130px;
        height: 65px;
    }

    .billboard-event-start-month,
    .billboard-event-end-month {
        font-size: 10px;
        margin-bottom: 3px;
    }

    .billboard-event-start-day {
        font-size: 29px;
    }

    .billboard-event-end-day {
        font-size: 19px;
    }
}

/* mobile */
@media (max-width: 480px) {

    .billboard-event-card {
        flex: 0 0 100%;
    }


    .billboard-bottom-cta h3 {
        font-size: 16px;
    }



    .billboard-dropbutton {
        min-width: 100%;
    }


}

