/* заменить в css на сайте */
/* red button */
.red-button {
    background: #E06053;
    color: #FFF;
    padding: 10px 50px;
    min-width: 280px;
    font-size: 18px;
    font-weight: 600;
    height: 40px;
    align-self: center;
}


/*---------------------- header------------------------- */

.header {
    height: 130px;
    width: 100%;
    padding: 20px 0;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #FFF;
    overflow: hidden;
    font-size: 18px;
    transition: transform 0.3s ease, height 0.3s ease;

}

.header-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scrolling {
    background-color: #fff;
    border-bottom: 1px solid #00000060;
}

.header-burger-logo-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sticky {
    background-color: rgba(255, 255, 255, 0.93);
    top: 0;
    border-bottom: 1px solid gainsboro;
}

.header-burger {
    width: 48px;
    height: 48px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.header-burger span {
    width: 100%;
    height: 3px;
    margin: 7px 0;
    background: #000;
    display: block;
    border-radius: 2px;
}

.open-nav .header-burger {
    transform: rotate(-90deg);
    padding: 5px;
}

.open-nav .header-burger span:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 25%;
}

.open-nav .header-burger span:nth-child(2) {
    transform: rotate(-45deg);
}

.open-nav .header-burger span:nth-child(3) {
    display: none;
}

.header-logo {
    height: 87px;
    width: 87px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-empty {
    height: 50px;
    width: 1px;
}

.header-nav {
    display: flex;
    justify-content: center;
    align-self: center;
}

.header-nav ul {
    display: flex;
    justify-content: space-between;
}

.header-nav ul li {
    margin-left: 50px;
}

.header-nav ul li:first-child {
    margin-left: 0px;
}

.header-nav ul li a {
    font-size: 16px;
    font-weight: 500;
    color: #2A3860;
}

.header-nav ul li :hover {
    color: #E06053;
}

.header-contacts {
    height: 100%;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    align-self: center;
    color: #2A3860;
}

.header-phone {
    width: 200px;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.header-phone a {
    align-self: end;
    color: #2A3860;
    font-size: 18px;
    font-weight: 500;
}

.header-contacts-subtitle {
    align-self: end;
    font-size: 14px;
    font-weight: 500;
    color: #2A3860;
}


.vk,
.ytb,
.tg,
.header-search {
    position: relative;
    width: 36px;
    height: 36px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tg {
    padding-right: 8px;
}

.vk:before,
.ytb:before,
.tg:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #2A3860;
    border-radius: 10px;
    transform: rotate(45deg);
    transform-origin: center;
    box-sizing: border-box;
    z-index: -1;
}

.vk svg,
.ytb svg,
.tg svg {
    width: 18px;
    height: 18px;
    color: #2A3860;
}

/* Ховер эффекты */
.vk:hover svg,
.ytb:hover svg,
.tg:hover svg {
    color: white;
}

.vk:hover::before {
    background-color: #0177fb;
    border: none;
}

.ytb:hover::before {
    background-color: #ff0033;
    border: none;
}

.tg:hover::before {
    background-color: #18a3e6;
    border: none;
}

/* 2k-4k */
@media (min-width: 2048px) {
    .header {}
}

/* 1600-2047px */
@media (max-width: 2047px) {
    .header {}
}

/* 1200-1599px */
@media (max-width: 1599px) {
    .header {
        height: 90px;
        padding: 13px 0;
        font-size: 14px;
    }
    .header-logo {
        height: 64px;
        width: 64px;
    }
    .header-phone {
        font-size: 10px;
    }
    .header-search-social-div {
        margin: 0px;
    }
    .header-search {
        margin-right: 15px;
    }
    .header-social-icons li {
        margin-left: 15px;
    }
    .header-contacts-subtitle {
        font-size: 10px;
        text-transform: lowercase;
    }
    .vk,
    .ytb,
    .tg,
    .header-search {
        width: 30px;
        height: 30px;
    }
}

/*1024-1199px  */
@media (max-width: 1199px) {


    .header-nav ul li {
        margin-left: 20px;

    }

    .header-phone {
        width: 160px;
        font-size: 10px;
    }

    .header-contacts {
        justify-content: center;
    }

    .header-social-icons {
        display: None;
        /* Скрыть иконки */
    }
}

/*769-1023px */
@media (max-width: 1023px) {
    .header {
        height: 70px;
        padding: 11px 0;
    }
    .header-logo {
        height: 48px;
        width: 48px;
    }
    .header-wrapper {
        flex-wrap: wrap;
    }
    .header-burger-logo-wrap {
        width: 100%;
        flex-direction: row-reverse;
    }
    .header-burger {
        display: block;
        /* Показываем бургер */
    }
    .open-nav {
        height: 300px;
        background-color: #FFF;
    }
    .header-empty {
        display: none;
    }
    .header-nav {
        display: flex;
        font-size: 18px;
        margin-top: 5px;
    }
    .header-nav ul {
        flex-direction: column;
        justify-content: space-between;
    }
    .header-nav ul li {
        margin-top: 15px;
        margin-left: 0;
    }
    .header-contacts {
        margin-top: 20px;
        align-self: start;
    }
}

/* 481-768px */
@media (max-width: 768px) {
    .header {
        height: 70px;
        padding: 11px 0;
    }
    .header-logo {
        height: 48px;
        width: 48px;
    }
    .header-empty {
        display: none;
    }
    .open-nav {
        height: 280px;
    }
}

/* mobile */
@media (max-width: 480px) {
    .header:not(.open-nav) {
        height: 70px;
    }
    .open-nav {
        height: 340px;
        background-color: #FFF;
    }
    .header-nav {
        margin-right: 60px;
    }
    .header-contacts {
        width: 100%;
        margin-top: 35px;
        align-self: start;
    }
    .header-phone a,
    .header-contacts-subtitle {
        align-self: start;
    }
}


/*-------------------- hero----------------------- */


.hero-section {
    width: 100%;
    background-size: cover;
    overflow: hidden;
}

.hero-greeting-links-buttons-wrap {
    margin: 0 auto;
    width: 100%;
    margin-top: 55px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    color: #2A3860;
}

.hero-greeting-links-wrap {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.hero-links-nav {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 400;
}

.hero-links-nav ul {
    display: flex;
    width: 615px;
}

.hero-links-nav ul li {
    padding: 0 16px;
    margin: 8px 0;
    border-right: 1px #2A3860 solid;
}

.hero-links-nav ul li:first-child {
    padding: 0 16px 0 0;
}

.hero-links-nav ul li:last-child {
    border-right: 0px;
}

.hero-links-nav ul li a {
    text-transform: uppercase;
    color: #2A3860;
}

.hero-title {
    margin-bottom: 50px;
    font-size: 72px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 110%;
}

.hero-subtitle {
    font-size: 20px;
    font-weight: 300;
    line-height: 120%;
    text-transform: uppercase;
}

.hero-button-adress-wrap {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: end;
}

.hero-events {
    display: block;
    width: 130px;
    height: 130px;

    margin-bottom: 170px;
}

/* red button hero section */
.hero-button-adress-wrap .red-button {
    display: block;
    align-self: end;
    text-align: center;
    height: 50px;
    margin-bottom: 70px;
    padding: 15px 100px;
}

.hero-adress {
    font-size: 18px;
    font-weight: 400;
    color: #6B7888;
}

/* adaptive */

/* fhd-2k-4k */
@media (min-width: 1920px) {}

/* 1600-1919px */
@media (max-width: 1919px) {
    .hero-greeting-buttons-wrap {
        width: 80%;
        height: 300px;
        padding: 0 12vw;
    }
    .hero-title {
        font-size: 72px;
    }
    .hero-subtitle {
        font-size: 20px;
    }
    .hero-adress {
        text-align: end;
    }
}

/* 1200-1599px */
@media (max-width: 1599px) {
    .blue-button,
    .transparent-button {
        padding: 20px 40px;
        font-size: 16px;
        font-weight: 400;
    }
    .hero-greeting-buttons-wrap {
        height: 300px;
        padding: 0 40px;
    }
}

/* 1024-1199px */
@media (max-width: 1199px) {
    .hero-greeting-buttons-wrap {
        height: 240px;
    }
    .hero-links-nav {
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
    }
    .hero-links-nav ul {
        width: 75%;
        display: flex;
        flex-wrap: wrap;
    }
    .hero-links-nav ul li:nth-child(4) {
        padding: 0 16px 0 0;
    }
    .hero-title {
        font-size: 40px;
    }
    .hero-subtitle {
        font-size: 20px;
    }
    .hero-button-adress-wrap .red-button {
        height: 50px;
        margin-bottom: 40px;
    }
    .hero-adress {
        width: 265px;
    }
}

/* 769-1023px */
@media (max-width: 1023px) {
    .hero-greeting-buttons-wrap {
        width: 100%;
    }
    .hero-title {
        font-size: 33px;
    }
    .hero-subtitle {
        font-size: 14px;
    }
    .hero-adress {
        text-align: end;
    }
    .hero-button-adress-wrap .red-button {
        height: 40px;
        padding: 10px 80px;
    }
    .hero-button-adress-wrap .red-button {
        font-size: 13px;
    }

}

/* 861-900px */
@media (max-width: 900px) {
    .hero-links-nav ul {
        width: 90%;
    }
}

/* 769-860px */
@media (max-width:860px) {
    .hero-links-nav ul {
        /* width: 75%; */
        width: 300px;
    }
    .hero-links-nav ul li:nth-child(4) {
        padding: 0 16px 0 16px;
    }
    .hero-links-nav ul li:nth-child(3),
    .hero-links-nav ul li:last-child {
        padding: 0 16px 0 0;
    }
}

/* 480-768px */
@media (max-width: 768px) {
    .hero-greeting-links-buttons-wrap {
        flex-direction: column;
        margin-top: 120px;
    }
    .hero-greeting-links-wrap {
        align-self: start;
    }
    .hero-links-nav {
        margin-bottom: 30px;
    }
    .hero-links-nav ul {
        width: 400px;
    }
    .hero-links-nav ul li:nth-child(4) {
        padding: 0 16px 0 0;
    }
    .hero-links-nav ul li:nth-child(3),
    .hero-links-nav ul li:last-child {
        padding: 0 16px 0 16px;
    }
    .hero-greeting-buttons-wrap {

        padding: 0 15px;
        height: 360px;
    }
    .hero-title {
        margin-bottom: 33px;
        font-size: 55px;
    }
    .hero-subtitle {
        margin-bottom: 65px;
    }
    .hero-events {
        display: none;
    }
    .hero-button-adress-wrap {
        align-items: stretch;
        align-self: stretch;
    }
    .hero-button-adress-wrap .red-button {
        margin-bottom: 35px;
    }
    .hero-adress {
        width: 265px;
        text-align: left;
    }
}

/* mobile */
@media (max-width: 480px) {
    .hero-greeting-buttons-wrap {
        height: 320px;
    }
    .hero-links-nav ul {
        width: 290px;
    }
    .hero-links-nav ul li {
        padding: 0 16px;
        margin: 8px 0;
        border-right: 1px #2A3860 solid;
    }
    .hero-links-nav ul li:nth-child(4) {
        padding: 0 16px 0;
    }
    .hero-links-nav ul li:nth-child(3),
    .hero-links-nav ul li:nth-child(5) {
        padding: 0 16px 0 0;
    }
    .hero-title {
        font-size: 33px;
    }
    .hero-subtitle {
        font-size: 18px;
    }
}

/* ----------------------------billboard poster------------------------------- */

.billboard-sort-title-wrap {
    margin-bottom: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* empty div */
.billboard-sort-title-wrap div:nth-child(3) {
    width: 100%;
    height: 75px;
}

.billboard-sort-dropdown {
    position: relative;
    display: inline-block;
}

.billboard-dropbutton {
    margin-right: 16px;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 50px;
    color: #2A385F;
    border: solid 1px #2A385F;
    min-width: 270px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.billboard-dropdown-content {
    margin: 0 0 0 2%;
    width: 90%;
    display: none;
    position: absolute;
    background-color: #ffffffb3;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 20;
    border-radius: 5px;
}

.billboard-dropdown-content a {
    color: #2A385F;
    padding: 8px 50px;
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-weight: 300;
}

.billboard-dropdown-content a:hover {
    background-color: #f1f1f1;
}

.billboard-dropdown-content.block .dropdown-arrow {
    transform: rotate(180deg);
    /* Поворачиваем стрелочку вверх при открытом списке */
}

.billboard-event-cards-wrap {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 25px;
}

/* clearfix */
.billboard-event-cards-wrap:after {
    content: '';
    display: block;
    clear: both;
}

/* billboard-card */
.visible {
    opacity: 1;
    transform: translateX(0);

}

.billboard-event-card {
    position: relative;
    height: 470px;
    width: 327px;
    flex: 0 0 calc(25% - 12px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(20%);
    transition: opacity 1.2s ease, transform 1.2s ease;
    border-radius: 4px;
}


/* появление карточек снизу */
.billboard-event-card.visible {
    opacity: 1;
    transform: translateY(0);
}

/* градиент карточки */
.billboard-event-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(42, 56, 96, 0.1) 0%, rgba(42, 56, 96, 0.6) 40%, rgba(42, 56, 96, 1) 70%);
    z-index: 1;
    border-radius: 4px;
}

.billboard-event-card-img-wrap {
    width: 100%;
    overflow: hidden;
}

.billboard-event-card-relative {
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
    /* width: 250px; */
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    /* Для старых версий Safari и Chrome */
    -moz-transform: translateX(-50%);
    /* Для старых версий Firefox */
    -ms-transform: translateX(-50%);
    /* Для старых версий Internet Explorer */
    -o-transform: translateX(-50%);
    /* Для старых версий Opera */
    z-index: 3;

}

.billboard-event-card-relative .red-button {
    display: inline-block;
    min-width: 100%;
    height: 45px;
    padding: 15px 15px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 90%;
    text-transform: uppercase;
    align-self: end;
}

.billboard-event-sort-description-wrap {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.billboard-event-special-marks {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 4px;
}

.billboard-event-sort-type {
    font-weight: 700;
    margin-right: 5px;
    margin-bottom: 4px;
}

.billboard-event-description {
    font-weight: 400;
}

.billboard-event-card-img {
    height: 470px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    transition: transform 0.3s ease;
    -webkit-transition: -webkit-transform 0.3s ease;
}

.billboard-event-card:hover .billboard-event-card-img {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
}

.billboard-event-date-wrap {
    position: absolute;
    width: 150px;
    height: 75px;
    top: 0;
    left: 0;
    padding: 10px 20px;

    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: #E06053;

    z-index: 10;

    border-radius: 4px;
}

.billboard-event-start-date-wrap,
.billboard-event-end-date-wrap {
    display: flex;
    flex-direction: column;
}

.billboard-event-start-month,
.billboard-event-end-month {
    font-size: 13px;
    font-weight: 600;
    line-height: 90%;
    margin-bottom: 5px;
}

.billboard-event-start-day,
.billboard-event-end-day {
    align-self: end;
    line-height: 90%;
    font-weight: 600;
}

.billboard-event-start-day {
    font-size: 39px;
}

.billboard-event-end-day {
    font-size: 26px;
}

.billboard-event-date-dash {
    align-self: center;
}



/* white card */
.billboard-event-card.billboard-event-card-white .billboard-event-date-wrap {
    color: #2A385F;
    background-color: #ffffff;
}

.billboard-event-card.billboard-event-card-white .billboard-event-date-wrap {
    color: #2A385F;
    background-color: #ffffff;
}

.billboard-event-card.billboard-event-card-white .billboard-event-card-relative .red-button {
    background-color: #fff;
    color: #2A385F;

}

/* ///// */

.billboard-bottom-cta {
    padding-top: 20px;
    border-top: 2px solid #2A3860;
}

.billboard-bottom-cta h3 {
    text-align: center;
    color: #2A3860;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2%;
    text-transform: uppercase;
}

.billboard-bottom-cta a {
    cursor: pointer;
    color: #E06053;
    font-weight: 600;
}

/* adaptive */

/* fhd-2k-4k */
@media (min-width: 1920px) {}

/* 1600-1919px */
@media (max-width: 1919px) {}

/* 1200-1599px */
@media (max-width: 1599px) {
    .billboard-event-cards-wrap {
        margin-bottom: 20px;
    }

    .billboard-event-card {
        position: relative;
        height: 420px;
        /* flex: 0 0 calc(33.33% - 10.67px); */
    }

    .billboard-event-card-img {
        height: 533px;
    }

    .billboard-bottom-cta h3 {
        font-size: 20px;
    }
}

/* 1024-1199px */
@media (max-width: 1199px) {
    .billboard-event-card {
        height: 420px;
        flex: 0 0 calc(33.33% - 10.67px);
    }

    .billboard-sort-title-wrap {
        margin-bottom: 45px;
    }
}

/* 769-1023px */
@media (max-width: 1023px) {
    .billboard-event-card {
        flex: 0 0 calc(50% - 8px);
    }
        .billboard-event-card:hover .billboard-event-card-img {
        transform: none;
        -webkit-transform: none;
    }

}

/* 641-767px */
@media (max-width: 768px) {
    .billboard-event-card {
        height: 380px;
    }
 .billboard-event-sort-description-wrap {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .billboard-sort-title-wrap {
        margin-bottom: 16px;
        flex-direction: column;
        align-items: start;
    }

    .billboard-sort-title-wrap div:nth-child(3) {
        display: none;
    }


    .billboard-dropbutton {
        margin-bottom: 16px;
    }
}

/* 481-639px */
@media (max-width: 640px) {
    .billboard-event-card-relative {
        padding: 0 15px;
    }

    .billboard-event-date-wrap {
        padding: 10px 15px;
        width: 130px;
        height: 65px;
    }

    .billboard-event-start-month,
    .billboard-event-end-month {
        font-size: 10px;
        margin-bottom: 3px;
    }

    .billboard-event-start-day {
        font-size: 29px;
    }

    .billboard-event-end-day {
        font-size: 19px;
    }
}

/* mobile */
@media (max-width: 480px) {

    .billboard-event-card {
        flex: 0 0 100%;
    }


    .billboard-bottom-cta h3 {
        font-size: 16px;
    }



    .billboard-dropbutton {
        min-width: 100%;
    }


}

