@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body {
    background-color: #fff;
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* -----------------------container----------------- */
.container {
    max-width: 1400px;
    padding: 0 20px;
}


/* ---------------------afisha-fixed----------------- */
.afisha-fixed-wrap {
    position: fixed;
    bottom: 10%;
    right: 14%;
    z-index: 20;
    padding: 6px;
    background-color: #ffffffb3;
    border-radius: 50%;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    opacity: 0;
    transform: translateY(20%);
    transition: opacity 1.2s ease, transform 1.2s ease;
}

.afisha-fixed {
    width: 130px;
    height: 130px;
}

.afisha-fixed .circle-text {
    margin: 0 auto;

}

.afisha-fixed .visible {
    opacity: 1;
    transform: translateY(0);
}

.afisha-fixed.svg-outer,
.afisha-fixed.svg-inner {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* 1200-1599px */
@media (max-width: 1599px) {
    .afisha-fixed-wrap {
        bottom: 10%;
        right: 3%;
    }
}

/*1024-1199px  */
@media (max-width: 1199px) {
    .afisha-fixed-wrap {
        bottom: 10%;
        right: 1%;
    }
}

/*769-1023px */
@media (max-width: 1023px) {
    .afisha-fixed-wrap {
        bottom: 0;
        right: 0;
    }
}


/* ////////circle-text///////// */

.circle-container {
    position: relative;
    width: 130px;
    height: 130px;
    /* margin: 50px auto; */
}

.display-block {
    display: block;
}



.circle-text {
    position: relative;
    width: 100px;
    height: 130px;
    margin: 130px auto;
    transform: rotate(215deg);
    /* Изначальный поворот на 45 градусов */
    -webkit-animation: rotate-text 4s infinite;
    animation: rotate-text 4s infinite;
}

.circle-text span,
.circle-text-static span {
    position: absolute;
    left: 50%;
    top: 0;
    transform-origin: 0 65px;
    /* 100px — радиус круга */
    font-size: 14px;
    text-transform: uppercase;
    color: #E06053;
    display: block;
}


.svg-outer,
.svg-inner {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.svg-inner {
    z-index: 2;
}

@-webkit-keyframes rotate-text {
    from {
        transform: rotate(215deg);
    }

    to {
        transform: rotate(574deg);
    }
}

@keyframes rotate-text {
    from {
        transform: rotate(215deg);
    }

    to {
        transform: rotate(574deg);
    }
}



/*-------------------------- section------------------- */
.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 120px;
}

.section-big-title {
    margin: 0 auto 50px auto;
    font-size: 42px;
    font-weight: 200;
    line-height: 120%;
    text-align: center;
    color: #2A385F;
}

.section-standard-title {
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 12px;
    color: #024c94;
}

.section-little-title-wrap {
    width: 380px;
    margin-bottom: 20px;
    align-self: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.section-little-title {
    padding-bottom: 20px;
    font-size: 42px;
    font-weight: 300;
    color: #2A385F;
    border-bottom: 1px solid #2A385F;
}

.section-little-title-wrap svg {
    align-self: flex-end;
    margin-top: -1px;
    min-width: 25px;
    min-height: 21px;
    transform: scale(-1, 1);
}



/* 2k-4k */
@media (min-width: 2048px) {}

/* 1600-2047px */
@media (max-width: 2047px) {}

/* 1200-1599px */
@media (max-width: 1599px) {}

/*1024-1199px  */
@media (max-width: 1199px) {
    .section-big-title {
        font-size: 36px;
    }
}

/*769-1023px */
@media (max-width: 1023px) {
    .section-big-title {
        font-size: 22px;
        text-align: start;
    }
}

/* 480-768px */
@media (max-width: 768px) {
    .section-big-title {
        text-align: start;
    }

    .section-little-title-wrap {
        width: 100%;
        margin-bottom: 20px;
    }

    .section-little-title {
        font-size: 32px;
    }

}

/* mobile */
@media (max-width: 480px) {
    .section-little-title-wrap {
        align-self: center;


    }
}

/* ----------------------/buttons / decor / etc/--------------------- */

.vertical-decor-line {
    height: 100%;
    min-height: 36px;
    width: 2px;
    background-color: rgba(0, 0, 0, 0.4);
}

.decor-frame-img {
    width: 70%;
    position: absolute;
}

.button-base {
    display: inline-flex;
    padding: 30px 60px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
}

.transparent-button,
.transparent-button-black-text,
.transparent-button-inner-card,
.text-button {
    color: #FFF;
    border-radius: 5px;
    margin-right: 10px;
}

.transparent-button {
    border: 1px solid rgba(0, 0, 0, 0.37);
}

.transparent-button-black-text {
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.37);
}

.transparent-button-inner-card {
    padding: 15px 20px;
    border: 1px solid #FFF;
    text-transform: uppercase;
}

.text-button {
    padding: 5px 10px;
    border: none;
}

.text-button:hover {
    text-decoration: underline;
}

.transparent-button:hover,
.transparent-button-black-text:hover,
.transparent-button-inner-card:hover {
    color: #FFF;
    background-color: #01519E;
    border-color: #01519E;
}

.transparent-button:active,
.transparent-button-black-text:active,
.transparent-button-inner-card:active {
    color: #FFF;
    background-color: #01376B;
    border-color: #01376B;
}

.cards-section-title {
    margin-bottom: 40px;
    color: #000;
    text-align: center;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* red button */
.red-button {
    background: #E06053;
    color: #FFF;
    padding: 10px 50px;
    min-width: 350px;
    font-size: 18px;
    font-weight: 600;
    height: 40px;
    align-self: center;
}

.red-button:hover {
    background: #01376B;
}

.red-button:active {
    background: #02274A;
}

/* 481-768px */
@media (max-width: 768px) {

    .red-button {
        align-self: start;
        min-width: 100%;
    }
}

/* Вертикальные линии  */
.stripe-left,
.stripe-right {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: white;
    z-index: 20;
}

.stripe-left {
    left: 10px;
}

.stripe-right {
    right: 10px;
}



/* события месяца */
/*--------------------- slider-coverflow------------------ */

#swiper-preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 560px;

}

.swiper-loader {
    font-size: 32px;
    color: #2A3860;
    margin-bottom: 7.56em;
}

.swiper-loader span {
    position: relative;
    top: 0.63em;
    display: inline-block;
    text-transform: uppercase;
    opacity: 0;
    transform: rotateX(-90deg);
}

.let1 {
    animation: drop 2.8s ease-in-out infinite;
    animation-delay: 1.2s;
}

.let2 {
    animation: drop 2.8s ease-in-out infinite;
    animation-delay: 1.3s;
}

.let3 {
    animation: drop 2.8s ease-in-out infinite;
    animation-delay: 1.4s;
}

.let4 {
    animation: drop 2.8s ease-in-out infinite;
    animation-delay: 1.5s;

}

.let5 {
    animation: drop 2.8s ease-in-out infinite;
    animation-delay: 1.6s;
}

.let6 {
    animation: drop 2.8s ease-in-out infinite;
    animation-delay: 1.7s;
}

.let7 {
    animation: drop 2.8s ease-in-out infinite;
    animation-delay: 1.8s;
}

.let8 {
    animation: drop 2.8s ease-in-out infinite;
    animation-delay: 1.9s;
}

.let9 {
    animation: drop 2.8s ease-in-out infinite;
    animation-delay: 2.0s;
}

.let10 {
    animation: drop 2.8s ease-in-out infinite;
    animation-delay: 2.0s;
}

.let11 {
    animation: drop 2.8s ease-in-out infinite;
    animation-delay: 2.1s;

}

.let12 {
    animation: drop 2.8s ease-in-out infinite;
    animation-delay: 2.2s;
}

.let13 {
    animation: drop 2.8s ease-in-out infinite;
    animation-delay: 2.3s;
}

.let14 {
    animation: drop 2.8s ease-in-out infinite;
    animation-delay: 2.4s;
}

.let15 {
    animation: drop 2.8s ease-in-out infinite;
    animation-delay: 2.5s;
}

.let16 {
    animation: drop 2.8s ease-in-out infinite;
    animation-delay: 2.6s;
}

.let17 {
    animation: drop 2.8s ease-in-out infinite;
    animation-delay: 2.7s;
}

@keyframes drop {
    10% {
        opacity: 0.5;
    }

    20% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }

    80% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }

    90% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
        top: 6.94em
    }
}


/* 481-768px */
@media (max-width: 768px) {
    .swiper-loader {
        font-size: 24px;
    }

}

/* mobile */
@media (max-width: 480px) {
    .swiper-loader {
        font-size: 16px;
    }
}

/* first variant */

.swiper-container {
    display: none;
}

.swiper {
    width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper {
    margin: 0 auto;
    width: 100%;

    padding-bottom: 50px !important;
}

.mySwiper .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
}

.mySwiper .swiper-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0));
}

.mySwiper .swiper-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0));

}

/* .mySwiper .swiper-slide-prev {
    transform: translate3d(0px, -5%, -130px) rotateX(0deg) rotateY(45deg) scale(1) !important;
}

.mySwiper .swiper-slide-next {
    transform: translate3d(0px, -5%, -130px) rotateX(0deg) rotateY(-45deg) scale(1) !important;
} */

.mySwiper .swiper-slide-active img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: -webkit-filter 1.5s ease;
    transition: filter 1.5s ease;
    transition: filter 1.5s ease, -webkit-filter 1.5s ease;

}

.mySwiper.swiper-slide-prev .slide-card-title,
.mySwiper.swiper-slide-next .slide-card-title {
    color: #BBC2DC;
}

.mySwiper .slide-card-text-div {
    padding: 25px 5px 0;
}

.mySwiper .slide-card-title {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    color: #2A3860;
}

.mySwiper .slide-card-title:hover {
    color: #E06053;
}



/*---------------------- header------------------------- */

.header {
    height: 130px;
    width: 100%;
    padding: 20px 0;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #FFF;
    overflow: hidden;
    font-size: 18px;
    transition: transform 0.3s ease, height 0.3s ease;

}

.header-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scrolling {
    background-color: #fff;
    border-bottom: 1px solid #00000060;
}

.header-burger-logo-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sticky {
    background-color: rgba(255, 255, 255, 0.93);
    top: 0;
    border-bottom: 1px solid gainsboro;
}

.header-burger {
    width: 48px;
    height: 48px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.header-burger span {
    width: 100%;
    height: 3px;
    margin: 7px 0;
    background: #000;
    display: block;
    border-radius: 2px;
}

.open-nav .header-burger {
    transform: rotate(-90deg);
    padding: 5px;
}

.open-nav .header-burger span:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 25%;
}

.open-nav .header-burger span:nth-child(2) {
    transform: rotate(-45deg);
}

.open-nav .header-burger span:nth-child(3) {
    display: none;
}

.header-logo {
    height: 87px;
    width: 87px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-empty {
    height: 50px;
    width: 1px;
}

.header-nav {
    display: flex;
    justify-content: center;
    align-self: center;
}

.header-nav ul {
    display: flex;
    justify-content: space-between;
}

.header-nav ul li {
    margin-left: 50px;
}

.header-nav ul li:first-child {
    margin-left: 0px;
}

.header-nav ul li a {
    font-size: 16px;
    font-weight: 500;
    color: #2A3860;
}

.header-nav ul li :hover {
    color: #E06053;
}

.header-contacts {
    height: 100%;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    align-self: end;
    color: #2A3860;
}

.header-phone {
    margin-bottom: 25px;
    width: 200px;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.header-phone a {
    align-self: end;
    color: #2A3860;
    font-size: 18px;
    font-weight: 500;
}

.header-contacts-subtitle {
    align-self: end;
    font-size: 14px;
    font-weight: 500;
    color: #2A3860;
}


.vk,
.ytb,
.tg,
.header-search {
    position: relative;
    width: 36px;
    height: 36px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tg {
    padding-right: 8px;
}

.vk:before,
.ytb:before,
.tg:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #2A3860;
    border-radius: 10px;
    transform: rotate(45deg);
    transform-origin: center;
    box-sizing: border-box;
    z-index: -1;
}

.vk svg,
.ytb svg,
.tg svg {
    width: 18px;
    height: 18px;
    color: #2A3860;
}

/* Ховер эффекты */
.vk:hover svg,
.ytb:hover svg,
.tg:hover svg {
    color: white;
}

.vk:hover::before {
    background-color: #0177fb;
    border: none;
}

.ytb:hover::before {
    background-color: #ff0033;
    border: none;
}

.tg:hover::before {
    background-color: #18a3e6;
    border: none;
}

/* 2k-4k */
@media (min-width: 2048px) {
    .header {}
}

/* 1600-2047px */
@media (max-width: 2047px) {
    .header {}
}

/* 1200-1599px */
@media (max-width: 1599px) {
    .header {

        font-size: 14px;
    }

    .header-phone {
        font-size: 10px;
    }

    .header-search-social-div {
        margin: 0px;
    }

    .header-search {
        margin-right: 15px;
    }

    .header-social-icons li {
        margin-left: 15px;
    }

    .header-contacts-subtitle {
        font-size: 10px;
        text-transform: lowercase;
    }

    .vk,
    .ytb,
    .tg,
    .header-search {
        width: 30px;
        height: 30px;
    }
}

/*1024-1199px  */
@media (max-width: 1199px) {
    .header {
        /* padding: 20px 40px; */
    }

    .header-nav ul li {
        margin-left: 20px;

    }

    .header-phone {
        font-size: 10px;
    }

    .header-contacts {
        justify-content: center;
    }

    .header-social-icons {
        display: None;
        /* Скрыть иконки */
    }
}

/*769-1023px */
@media (max-width: 1023px) {
    .header {
        height: 120px;
        padding: 15px 0;
    }

    .header-wrapper {
        /* flex-direction: column; */
        flex-wrap: wrap;
    }

    .header-burger-logo-wrap {
        width: 100%;
        flex-direction: row-reverse;
    }

    .header-burger {
        display: block;
        /* Показываем бургер */
    }

    .open-nav {
        height: 360px;
        /* height: 580px; */
        background-color: #FFF;
    }

    .header-empty {
        display: none;
    }

    .header-nav {
        display: flex;
        font-size: 18px;
        margin-top: 5px;
        /* width: 48%; */

    }

    .header-nav ul {
        flex-direction: column;
        justify-content: space-between;
    }

    .header-nav ul li {
        margin-top: 15px;
        margin-left: 0;
    }

    .header-contacts {
        margin-top: 20px;
        align-self: start;
        /* width: 48%; */
        /* display: none; */
    }
}

/* 481-768px */
@media (max-width: 768px) {
    .header {
        height: 90px;
    }

    .header-logo {
        height: 60px;
        width: 60px;
    }

    .header-empty {
        display: none;
    }

    .open-nav {
        height: 320px;
    }

}

/* mobile */
@media (max-width: 480px) {
    .header:not(.open-nav) {
        height: 90px;
    }

    .open-nav {
        height: 380px;
        /* height: 580px; */
        background-color: #FFF;
    }

    /* .header{
        max-height: 360px;
    } */
    .header-nav {
        margin-right: 60px;
    }

    .header-contacts {
        margin-top: 35px;
        align-self: start;
        /* width: 48%; */
        /* display: none; */
    }

    .header-phone a,
    .header-contacts-subtitle {
        align-self: start;
    }

}



/*-------------------- hero----------------------- */


.hero-section {
    width: 100%;
    background-size: cover;
    overflow: hidden;
}

.hero-greeting-links-buttons-wrap {
    margin: 0 auto;
    width: 100%;
    margin-top: 55px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    color: #2A3860;
}

.hero-greeting-links-wrap {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.hero-links-nav {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 400;
}

.hero-links-nav ul {
    display: flex;
}

.hero-links-nav ul li {
    padding: 0 16px;
    margin: 8px 0;
    border-right: 1px #2A3860 solid;
}

.hero-links-nav ul li:first-child {
    padding: 0 16px 0 0;
}

.hero-links-nav ul li:last-child {
    border-right: 0px;
}

.hero-links-nav ul li a {
    text-transform: uppercase;
    color: #2A3860;
}

.hero-title {
    margin-bottom: 50px;
    font-size: 72px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 110%;
}

.hero-subtitle {
    font-size: 20px;
    font-weight: 300;
    line-height: 120%;
    text-transform: uppercase;
}

.hero-button-adress-wrap {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: end;
}

.hero-events {
    display: block;
    width: 130px;
    height: 130px;

    margin-bottom: 170px;
}

/* red button hero section */
.hero-button-adress-wrap .red-button {
    display: block;
    align-self: end;
    text-align: center;
    height: 50px;
    margin-bottom: 70px;
    padding: 15px 100px;
}

.hero-adress {
    font-size: 18px;
    font-weight: 400;
    color: #6B7888;
}

/* adaptive */

/* fhd-2k-4k */
@media (min-width: 1920px) {}

/* 1600-1919px */
@media (max-width: 1919px) {
    .hero-greeting-buttons-wrap {
        width: 80%;
        height: 300px;
        padding: 0 12vw;
    }

    .hero-title {
        font-size: 72px;
    }

    .hero-subtitle {
        font-size: 20px;
    }

    .hero-adress {
        text-align: end;
    }
}

/* 1200-1599px */
@media (max-width: 1599px) {

    .blue-button,
    .transparent-button {
        padding: 20px 40px;
        font-size: 16px;
        font-weight: 400;
    }

    .hero-greeting-buttons-wrap {
        height: 300px;
        padding: 0 40px;
    }
}

/* 1024-1199px */
@media (max-width: 1199px) {
    .hero-greeting-buttons-wrap {
        height: 240px;
    }

    .hero-links-nav {
        font-size: 14px;
        line-height: 1.2;
        font-weight: 400;
    }

    .hero-links-nav ul {
        width: 75%;
        display: flex;
        flex-wrap: wrap;
    }

    .hero-links-nav ul li:nth-child(4) {
        padding: 0 16px 0 0;
    }

    .hero-title {
        font-size: 40px;
    }

    .hero-subtitle {
        font-size: 20px;
    }

    .hero-button-adress-wrap .red-button {
        height: 50px;
        margin-bottom: 40px;
    }

    .hero-adress {
        width: 265px;
    }
}

/* 769-1023px */
@media (max-width: 1023px) {

    .hero-greeting-buttons-wrap {
        width: 100%;
    }

    .hero-title {
        font-size: 33px;
    }

    .hero-subtitle {
        font-size: 14px;
    }

    .hero-adress {
        text-align: end;
    }

    .hero-button-adress-wrap .red-button {
        height: 40px;
        padding: 10px 80px;
    }

    .hero-button-adress-wrap .red-button {
        font-size: 13px;
    }

}

@media (max-width:860px) {
    .hero-links-nav ul {
        width: 90%;
    }
}

/* 480-768px */
@media (max-width: 768px) {
    .hero-greeting-links-buttons-wrap {
        flex-direction: column;
        margin-top: 120px;
    }

    .hero-greeting-links-wrap {
        align-self: start;
    }

    .hero-links-nav {
        margin-bottom: 30px;
    }

    .hero-links-nav ul {
        width: 75%;
    }

    .hero-greeting-buttons-wrap {

        padding: 0 15px;
        height: 360px;
    }

    .hero-title {
        margin-bottom: 33px;
        font-size: 55px;
    }

    .hero-subtitle {
        margin-bottom: 65px;
    }

    .hero-events {
        display: none;
    }

    .hero-button-adress-wrap {
        align-items: stretch;
        align-self: stretch;
    }

    .hero-button-adress-wrap .red-button {
        margin-bottom: 35px;
    }

    .hero-adress {
        width: 265px;
        text-align: left;
    }
}

/* mobile */
@media (max-width: 480px) {
    .hero-greeting-buttons-wrap {
        height: 320px;
    }

    .hero-links-nav ul {
        width: 290px;
    }

    .hero-links-nav ul li {
        padding: 0 16px;
        margin: 8px 0;
        border-right: 1px #2A3860 solid;
    }

    .hero-links-nav ul li:nth-child(4) {
        padding: 0 16px 0;
    }

    .hero-links-nav ul li:nth-child(3),
    .hero-links-nav ul li:nth-child(5) {
        padding: 0 16px 0 0;
    }

    .hero-title {
        font-size: 33px;
    }

    .hero-subtitle {
        font-size: 18px;
    }

}

/* ----------------------------full image---------------------------- */

.full-image {
    margin-bottom: 120px;
    position: relative;
    height: 720px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.full-image-stripe {
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: white;
    z-index: 1;
}

/* Полоса сверху с отступом 5px */
.stripe-top {
    top: 5px;
}

/* Полоса снизу с отступом 5px */
.stripe-bottom {
    bottom: 5px;
}


/* ----------------------------billboard poster------------------------------- */

.billboard-sort-title-wrap {
    margin-bottom: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* empty div */
.billboard-sort-title-wrap div:nth-child(3) {
    width: 100%;
    height: 75px;
}

.billboard-sort-dropdown {
    position: relative;
    display: inline-block;
}

.billboard-dropbutton {
    margin-right: 16px;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 50px;
    color: #2A385F;
    border: solid 1px #2A385F;
    min-width: 270px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.billboard-dropdown-content {
    margin: 0 0 0 2%;
    width: 90%;
    display: none;
    position: absolute;
    background-color: #ffffffb3;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 20;
    border-radius: 5px;
}

.billboard-dropdown-content a {
    color: #2A385F;
    padding: 8px 50px;
    text-decoration: none;
    display: block;
    font-size: 18px;
    font-weight: 300;
}

.billboard-dropdown-content a:hover {
    background-color: #f1f1f1;
}

.billboard-dropdown-content.block .dropdown-arrow {
    transform: rotate(180deg);
    /* Поворачиваем стрелочку вверх при открытом списке */
}

.billboard-event-cards-wrap {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 25px;
}

/* clearfix */
.billboard-event-cards-wrap:after {
    content: '';
    display: block;
    clear: both;
}

/* billboard-card */
.visible {
    opacity: 1;
    transform: translateX(0);

}

.billboard-event-card {
    position: relative;
    height: 470px;
    width: 327px;
    flex: 0 0 calc(25% - 12px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(20%);
    transition: opacity 1.2s ease, transform 1.2s ease;
    border-radius: 4px;
}


/* появление карточек снизу */
.billboard-event-card.visible {
    opacity: 1;
    transform: translateY(0);
}

/* градиент карточки */
.billboard-event-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(42, 56, 96, 0.1) 0%, rgba(42, 56, 96, 0.6) 40%, rgba(42, 56, 96, 1) 70%);
    z-index: 1;
    border-radius: 4px;
}

.billboard-event-card-img-wrap {
    width: 100%;
    overflow: hidden;
}

.billboard-event-card-relative {
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 250px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    /* Для старых версий Safari и Chrome */
    -moz-transform: translateX(-50%);
    /* Для старых версий Firefox */
    -ms-transform: translateX(-50%);
    /* Для старых версий Internet Explorer */
    -o-transform: translateX(-50%);
    /* Для старых версий Opera */
    z-index: 3;

}

.billboard-event-card-relative .red-button {
    display: inline-block;
    min-width: 100%;
    height: 45px;
    padding: 15px 15px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 90%;
    text-transform: uppercase;
    align-self: end;
}

.billboard-event-sort-description-wrap {
    display: flex;
    font-size: 13px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.billboard-event-sort-type {
    font-weight: 700;
    margin-right: 5px;
}

.billboard-event-description {
    font-weight: 400;
}

.billboard-event-card-img {
    height: 470px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    transition: transform 0.3s ease;
    -webkit-transition: -webkit-transform 0.3s ease;
}

.billboard-event-card:hover .billboard-event-card-img {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
}

.billboard-event-date-wrap {
    position: absolute;
    width: 150px;
    height: 75px;
    top: 0;
    left: 0;
    padding: 10px 20px;

    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: #E06053;

    z-index: 10;

    border-radius: 4px;
}

.billboard-event-start-date-wrap,
.billboard-event-end-date-wrap {
    display: flex;
    flex-direction: column;
}

.billboard-event-start-month,
.billboard-event-end-month {
    font-size: 13px;
    font-weight: 600;
    line-height: 90%;
    margin-bottom: 5px;
}

.billboard-event-start-day,
.billboard-event-end-day {
    align-self: end;
    line-height: 90%;
    font-weight: 600;
}

.billboard-event-start-day {
    font-size: 39px;
}

.billboard-event-end-day {
    font-size: 26px;
}

.billboard-event-date-dash {
    align-self: center;
}

.billboard-event-special-marks {
    font-size: 13px;
    font-weight: 400;
}

/* white card */
.billboard-event-card.billboard-event-card-white .billboard-event-date-wrap {
    color: #2A385F;
    background-color: #ffffff;
}

.billboard-event-card.billboard-event-card-white .billboard-event-date-wrap {
    color: #2A385F;
    background-color: #ffffff;
}

.billboard-event-card.billboard-event-card-white .billboard-event-card-relative .red-button {
    background-color: #fff;
    color: #2A385F;

}

/* ///// */

.billboard-bottom-cta {
    padding-top: 20px;
    border-top: 2px solid #2A3860;
}

.billboard-bottom-cta h3 {
    text-align: center;
    color: #2A3860;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2%;
    text-transform: uppercase;
}

.billboard-bottom-cta a {
    cursor: pointer;
    color: #E06053;
    font-weight: 600;
}

/* adaptive */

/* fhd-2k-4k */
@media (min-width: 1920px) {}

/* 1600-1919px */
@media (max-width: 1919px) {}

/* 1200-1599px */
@media (max-width: 1599px) {
    .billboard-event-cards-wrap {
        margin-bottom: 20px;
    }

    .billboard-event-card {
        position: relative;
        height: 533px;

        flex: 0 0 calc(33.33% - 10.67px);
        box-sizing: border-box;


    }

    .billboard-event-card-img {
        height: 533px;
    }

    .billboard-bottom-cta h3 {
        font-size: 20px;
    }
}

/* 1024-1199px */
@media (max-width: 1199px) {
    .billboard-sort-title-wrap {
        margin-bottom: 45px;
    }
}

/* 769-1023px */
@media (max-width: 1023px) {
    .billboard-event-card {
        flex: 0 0 calc(50% - 8px);
    }

}

/* 481-768px */
@media (max-width: 768px) {
    .billboard-sort-title-wrap {
        margin-bottom: 16px;
        flex-direction: column;
        align-items: start;
    }

    .billboard-sort-title-wrap div:nth-child(3) {
        display: none;
    }


    .billboard-dropbutton {
        margin-bottom: 16px;
    }


    .billboard-event-card {
        flex: 0 0 100%;
    }

    .billboard-event-card:hover .billboard-event-card-img {
        transform: none;
        -webkit-transform: none;
    }

    .billboard-event-card-relative {
        width: 90%;
    }

    .billboard-bottom-cta h3 {
        font-size: 16px;
    }
}

/* mobile */
@media (max-width: 480px) {
    .billboard-dropbutton {
        min-width: 100%;
    }

    .billboard-event-date-wrap {
        padding: 10px 15px;
        width: 130px;
        height: 65px;
    }

    .billboard-event-start-month,
    .billboard-event-end-month {
        font-size: 10px;
        margin-bottom: 3px;
    }

    .billboard-event-start-day {
        font-size: 29px;
    }

    .billboard-event-end-day {
        font-size: 19px;
    }

    .billboard-event-sort-description-wrap {
        display: flex;
        font-size: 10px;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

}

/* ------------------------building adress--------------------------*/

.section-building-adress {
    position: relative;
    margin-bottom: 20px;
}

/* switch decore sections */
.building-desktop {
    display: block;
}

.building-mobile {
    display: none;
}

.building-adress-div-wrap {
    margin: 0 auto;
    background-color: #2A385F;
    border-radius: 10px;

}

.building-adress-wrap {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    align-self: center;
    margin: 0 auto;

}

.building-adress-wrap.container {
    padding: 0;

}

.building-adress-decore-line {
    position: relative;
    bottom: 40px;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.building-adress-decore-line.top {
    bottom: 40px;
}

.building-adress-decore-line.bottom {
    bottom: -40px;
}

.building-adress {
    position: relative;
    height: 285px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.building-adress-aside-houses {
    position: relative;
    display: flex;
    padding-top: 4px;
    justify-content: space-between;
    width: 150px;
    right: 25px;
    font-size: 11px;
    color: #ffffff71;
}

.building-adress:nth-child(2) {
    max-width: 80px;
    margin: 0 -10px;
    flex: 1;
}

.building-adress:nth-child(2) img {
    height: 150px;
}

.building-adress:nth-child(3) {
    margin-right: -6px;
}

.building-adress:nth-child(4) {
    width: 320px;

}

.building-adress:nth-child(4).building-adress-link-img-div img {
    width: 100%;

}

.building-adress-decore-tree {
    position: absolute;
    bottom: 70px;
    width: 650px;
    height: 650px;


    bottom: -20px;
    z-index: -2;
}

.decore-tree-left {
    left: -10%;
}

.decore-tree-right {
    right: -10%;
    transform: scaleX(-1);
}



.building-adress-description {
    position: absolute;
    top: 100px;
    left: -70px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}

.building-adress-description-kremlin-courtyard {
    left: 0px;
}

.building-adress-link-img-wrap {
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.building-adress-arrow {
    align-self: flex-start;
}

.building-adress-link-img-wrap:nth-child(1) {
    margin-left: 150px;
}

.building-adress-link {
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
}

.building-adress-link-brown {
    color: #fff;
}

.building-adress-link-blue {
    color: #fff;
}

.building-adress-link-red {
    color: #E06053;
}


.building-adress-description-kremlin-courtyard {
    left: 0px;
}

.building-adress-mobile-pattern-wrap {
    display: none;
}

.building-adress-mobile-pattern {
    display: inline-block;
    height: 20px;
}


/* section-street-institution */
.section-street-institution {
    margin-top: 30px;
}

.section-street-institution-wrap {
    border-bottom: 1px solid #5080B1;
    border-top: 1px solid #5080B1;
}

.section-street-wrap {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    border-top: 3px solid #3C6893;
    border-bottom: 3px solid #3C6893;
    margin-bottom: 15px;
}

.section-street-link-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.section-street-link-wrap a {
    display: inline-block;
    align-self: center;
    color: #3C6893;
    width: 130px;
}

.section-street-link-wrap a:first-child {
    text-align: end;
}

.section-street-institution-title {
    display: inline-block;
    padding: 20px 70px 0;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    width: 100%;
    text-align: justify;
    letter-spacing: 0.8rem;
    overflow: hidden;
    color: #3C6893;

}

/* Используем псевдоэлемент для создания эффекта адаптивности */
.section-street-institution-title::after {
    content: '';
    display: inline-block;
    width: 100%;
}

.section-street-img {
    position: absolute;
    top: -3px;
    height: 44px;
}

.section-street-img-left {
    left: 0;
}

.section-street-img-right {
    transform: scale(-1, 1);
    right: 0;
}

.section-street-institution-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}



.section-street-institution-list-col {
    height: 100px;
    width: 250px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.section-street-institution-list-col a {
    padding: 8px 0;
}

.section-street-institution-list-col:first-child {
    margin-left: 25px;
}

.section-street-institution-list-col:nth-child(2) {
    width: 166px;
}

.section-street-institution-list-col:nth-child(4) {
    width: 268px;
}

.section-street-institution-list-col:nth-child(3) {
    margin-right: 54px;
}



.section-street-institution-list a {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;

}

.section-street-institution-list a:hover {
    color: #E06053;
}



/* adaptive */

/* fhd-2k-4k */
@media (min-width: 1920px) {}

/* 1600-1919px */
@media (max-width: 1919px) {}

/* 1200-1599px */
@media (max-width: 1599px) {
    .section-building-adress {
        padding: 0 20px;
    }

    .building-adress-decore-tree {
        bottom: 10px;
    }

    .decore-tree-left {
        left: -20%;
    }

    .decore-tree-right {
        right: -20%;
    }



    .building-adress-wrap {

        width: 900px;


    }

    .building-adress-link {
        font-size: 17px;
    }

    .section-street-institution {
        width: 900px;
    }

    .section-street-institution-title {
        font-size: 15px;


        padding: 20px 20px 0;
        letter-spacing: 0.5rem;



    }

    .section-street-link-wrap a {
        font-size: 10px;
    }

    .section-street-institution-list-col a {
        padding: 8px 0;
    }

    .section-street-institution-list-col:first-child {
        margin-left: 25px;
    }

    .section-street-institution-list-col:nth-child(2) {
        width: 230px;
    }

    .section-street-institution-list-col:nth-child(4) {
        width: 268px;
    }

    .section-street-institution-list-col:nth-child(3) {
        margin-right: 54px;
    }

}

/* 1024-1199px */
@media (max-width: 1199px) {
    .building-adress-description {
        left: -55px;
        transform: rotate(-90deg);
    }

    .building-adress-description-kremlin-courtyard {
        left: 0px;
        top: 85px;
        transform: rotate(0deg);
    }

    .section-street-institution-title {
        font-size: 15px;
        width: 80%;

        padding: 20px 20px 0;
        letter-spacing: 0.2rem;



    }
}

/* 769-1023px */
@media (max-width: 1023px) {
    .section-building-adress {
        position: relative;
        margin-bottom: 0px;
    }

    /* switch decore sections */
    .building-desktop {
        display: none;
    }

    .building-mobile {
        display: block;
    }

    .decore-tree-left {
        display: none;
    }

    .decore-tree-right {
        right: -30%;
        bottom: 1240px;
    }

    .building-adress-wrap {
        justify-content: center;
        width: 100%;
    }

    .building-adress {
        height: 315px;
    }

    .building-adress-link-img-wrap {
        margin-left: 0px;
        justify-content: center;
        width: 272px;
        margin: 0 auto;
    }

    .building-adress-link {
        margin-bottom: 16px;
    }

    .building-adress-link-img-wrap:nth-child(1) {
        margin-left: 0px;
        justify-content: center;
        width: 272px;
        margin: 0 auto;
    }

    .section-street-institution {
        width: 100%;
    }

    .section-street-institution-list {
        justify-content: center;
    }

    .section-street-link-wrap {
        border-bottom: 1px solid #2A385F;
    }

    .section-street-institution-title {
        width: 400px;
    }

    .building-adress-mobile-pattern-wrap {
        display: flex;
        justify-content: center;
    }

    .section-street-mobile {
        margin-bottom: 60px;
    }

    .building-adress-mobile-pattern {}
}

/* 481-768px */
@media (max-width: 768px) {
    .decore-tree-right {
        right: -40%;
    }

    .br-building-section-title {
        display: none;
    }

    .building-adress>img {
        padding: 0 20px;
    }

    .building-adress-description {
        display: none;
    }

    .building-adress-description-kremlin-courtyard {
        display: none;
    }

    .section-street-link-wrap {
        height: 30px;

    }

    .section-street-link-wrap a {
        font-size: 4px;
    }

    .section-street-institution-title {
        width: 70%;
        font-size: 9px;
        letter-spacing: 0.1rem;
        text-align: center;
        padding: 6px 0 4px 0;
    }
}

/* mobile */
@media (max-width: 480px) {
    .building-adress-link-img-wrap {
        width: 240px;
    }

    .building-adress-link-img-wrap:nth-child(1) {
        width: 240px;
    }

    .section-street-link-wrap {
        justify-content: center;
    }

    .section-street-link-wrap a {
        display: none;
    }

    .section-street-institution-title {
        letter-spacing: 0rem;
        width: 100%;
    }
}

/* ----------------------------video section-------------------------- */
/* ----------------------------video section-------------------------- */
.video-section {
    margin-bottom: 40px;

}
.video-section div{
height: 640px;
 border-radius: 10px;
 overflow: hidden;
 position: relative;
}
#main-page-video{
width: 100%;
 height: 100%;
 object-fit: cover;
}
#main-page-video-play-button{
position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 border: none;
 border-radius: 50%;
 padding: 10px;
}
.video-section iframe {
    border-radius: 10px;
}


/* ------------------------------about us--------------------------------*/

.about-us-section {
    position: relative;

}

.about-us-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 140px;
}

.about-us-text {
    width: 48%;
    font-size: 28px;
    font-weight: 400;
    line-height: 150%;
    color: #6B7888;
}

.about-us-title-event-wrap {
    display: flex;
    justify-content: space-between;
}

.about-us-section .section-big-title {
    width: 45%;
    max-width: 1440px;
    text-transform: none;
    font-size: 42px;
    font-weight: 300;
    text-align: start;
    margin: 0;
}

.about-us-events {
    align-self: end;
    position: static;
    width: 130px;
    height: 130px;
    right: 0;
    margin: 20px;
}

.about-us-events .circle-text-static {
    width: 100px;
    height: 130px;
    margin: 0px auto;
    transform: rotate(215deg);
    /* Изначальный поворот на 45 градусов */
    -webkit-animation: rotate-text 4s infinite;
    animation: rotate-text 4s infinite;

}


/* decore pattern */
.about-us-decore-wrap {
    overflow: hidden;
    margin-left: calc(50% - 50vw);
    position: absolute;
    width: 96vw;
    top: 346px;
    z-index: -2;
}


/* adaptive */

/* fhd-2k-4k */
@media (min-width: 1920px) {}

/* 1600-1919px */
@media (max-width: 1919px) {}

/* 1200-1599px */
@media (max-width: 1599px) {
    .about-us-section .section-big-title {
        width: 50%;
    }

    .about-us-decore-wrap {
        top: 60%;
    }

    .about-us-decore-wrap img {

        transform: scale(1.5);

    }
}

/* 1024-1199px */
@media (max-width: 1199px) {
    .about-us-info {
        flex-direction: column;
    }

    .about-us-text {
        width: 100%;
        margin-bottom: 25px;
    }

    .about-us-section .section-big-title {
        width: 60%;
    }

    .about-us-decore-wrap {
        top: 75%;
    }

    .about-us-decore-wrap img {

        transform: scale(1.2);

    }
}

/* 769-1023px */
@media (max-width: 1023px) {
    .about-us-info {
        margin-bottom: 60px;
    }

    .about-us-text {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .about-us-section .section-big-title {
        width: 65%;
    }

    .about-us-decore-wrap {
        top: 80%;
    }

}

/* 481-768px */
@media (max-width: 768px) {
    .about-us-section .section-big-title {
        width: 100%;
        font-size: 38px;
        margin-bottom: 60px;
    }

    .about-us-title-event-wrap {
        flex-direction: column;
    }

    .about-us-events {
        align-self: start;
        margin-bottom: 60px;
    }

    .about-us-decore-wrap {
        position: static;

        /* top: 90%; */
    }

    .about-us-decore-wrap img {
        position: relative;
        left: -25%;
        top: 0;
        transform: scale(1.5);
        /* Увеличение в 2 раза */
        transform-origin: center;
    }
}

/* mobile */
@media (max-width: 480px) {


    .about-us-decore-wrap img {
        transform: scale(2);
        top: 0;
        /* Увеличение в 2 раза */
        transform-origin: center;
    }
}




/* --------------------------------contacts--------------------------------*/






/* common classes */

/* display block class */
.block {
    display: block;
}

/* rotate 180 */
.rotate {
    transform: rotate(180deg);
}




/* --------------------------------страница по направлениям services--------------------------------- */

.services-hero {
    margin-top: 280px;
}

.services-hero-title {
    font-size: 64px;
}

.services-hero-subtitle {
    font-size: 24px;
}

.services-summary-section {
    margin-bottom: 0px;
}

.services-summary {
    display: flex;
    justify-content: space-between;
    color: #2A3860;
}

.services-summary-img-wrap {
    max-width: 43%;
    height: 395px;
    overflow: hidden;
    position: relative;
}

.services-summary-img-wrap img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
}

.services-summary-info-wrap {
    width: 52%;
    margin-bottom: 15px;
}
.services-little-title-wrap,
.services-little-title-wrap-desc,
.services-little-title-wrap-mobile {
    width: 100%;
}

.services-little-title-wrap-desc {
    display: flex;
}

.services-little-title-wrap-mobile {
    display: none;
}

.services-summary-adress-wrap {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 40px;
}

.services-summary-red-button {
    font-size: 16px;
    min-width: 285px;
    padding: 10px 35px;
}

.services-summary-adress {
    text-align: left;
    font-size: 20px;
    line-height: 130%;
    margin: 0 20px;
}


/*блок список с кратким описанием деятельности */

.services-summary-products h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 6px;
}

.services-summary-products ul {
    margin-bottom: 30px;
}

.services-summary-products li {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #6A7887;
}

/* adaptive */

/* 1200-1599px */
@media (max-width: 1599px) {
    .services-summary-img-wrap {
        max-width: 38%;

    }

    .services-summary-info-wrap {
        width: 60%;
    }
}

/* 1024-1199px */
@media (max-width: 1199px) {
    .services-summary {
        flex-direction: column;
    }

    .services-hero-title {
        font-size: 40px;
    }

    .services-little-title-wrap-desc {
        display: none;
    }

    .services-little-title-wrap-mobile {
        display:flex;
    }

    .services-summary-img-wrap {
        max-width: 100%;
        margin-bottom: 40px;

    }

    .services-summary-info-wrap {
        width: 100%;
    }

    .services-summary-adress {
        width: 80%;
    }

   
}
 /* 769-1023px */
 @media (max-width: 1023px) {
    .services-hero-title {
        font-size: 33px;
    }

    .services-hero-subtitle {
        font-size: 20px;
    }
}

/* 481-768px */
@media (max-width: 768px) {
    .services-hero-title {
        font-size: 55px;
    }

    .services-hero-subtitle {
        margin-bottom: 0;
    }

    .services-summary-adress-wrap {
        flex-direction: column;
    }

    .services-summary-red-button {
        margin-bottom: 16px;
        width: 100%;
        min-width: 270px;
    }

    .services-summary-adress {
        margin: 0;
    }
}

/* mobile */
@media (max-width: 480px) {
    .services-hero-title {
        font-size: 33px;
    }
}


/* блок со слайдером и полным описанием деятельности */

.services-full-details-section {
    margin-bottom: 15px;
}

.services-full-details-section:last-child {
   margin-bottom: 120px;
}
/* slider services page */
.services-full-details-slider-wrap {
    position: relative;
    height: 605px;
}

.mySwiperServicesFullDetails .swiper {
    width: 100%;
    height: 100%;
}

.mySwiperServicesFullDetails .swiper-slide {
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySwiperServicesFullDetails .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.mySwiperServicesFullDetails .swiper-button-next:after,
.mySwiperServicesFullDetails .swiper-button-prev:after {
    content: '';
    width: 40px;
    height: 40px;
    background-image: url("./images/icons/arrow-square-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
}

.mySwiperServicesFullDetails .swiper-button-prev:after {
    transform: rotate(180deg);
}

/* Иконка стрелки — SVG внутри */
.mySwiperServicesFullDetails .swiper-button-next,
.mySwiperServicesFullDetails .swiper-button-prev {
    width: 40px;
    height: 40px;
}

.mySwiperServicesFullDetails .swiper-button-prev {
    left: 5%;
}

.mySwiperServicesFullDetails .swiper-button-next {
    right: 5%;
}
.section-full-details-title {
    font-size: 42px;
    color: #6B7888;
    border-bottom: 0px;
}
.services-full-details-info-wrap {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #6A7887;
}

.services-full-details-contacts {
    display: flex;
    flex-direction: column;
}

.services-full-details-wrap {
    display: flex;
    margin-bottom: 30px;
}

.services-full-details-contacts-img-wrap {
    padding-top: 6px;
    margin-right: 25px;
    height: 40px;
    width: 40px;
}

.services-full-details-contacts-img-wrap img {
    height: 100%;
    width: 100%;
}

.services-full-details-title {
    line-height: 150%;
    font-weight: 700;
    margin-bottom: 5px;
}

.services-full-details-ul {}

.services-full-details-ul li,
.services-full-details-ul li a {
    color: #6A7887;
    font-weight: 400;
    line-height: 150%;
}

.services-full-details-text-wrap {
    width: 65%;
}

.services-full-details-text-wrap p {
    font-weight: 400;
    line-height: 150%;
}

/* adaptive */

/* 1024-1199px */
@media (max-width: 1199px) {

    .services-full-details-section .stripe-left {
       left: 6px;
    }
    .services-full-details-section .stripe-right {
        right: 6px;
     }
     .mySwiperServicesFullDetails .swiper-button-prev {
        left: 2%;
    }
    
    .mySwiperServicesFullDetails .swiper-button-next {
        right: 2%;
    }
    .services-full-details-info-wrap {
        flex-direction: column-reverse;
    }

    .services-full-details-text-wrap {
        margin-bottom: 40px;
    }

    .services-full-details-wrap:first-child {
        margin-right: 40px;
    }

    .services-full-details-contacts {
        flex-direction: row;
    }

}

/* 769-1023px */
@media (max-width: 1023px) {
    .services-full-details-text-wrap {
        width: 90%;
    }
}

/* 481-768px */
@media (max-width: 768px) {

    .services-full-details-text-wrap {
        width: 100%;

    }

    .services-full-details-wrap:first-child {
        margin-right: 0px;
    }

    .services-full-details-contacts {
        flex-direction: column;
    }
}

/* aside cards */
.aside-cards-section {
    margin-bottom: 90px;
}

.aside-cards-wrap {
    margin-bottom: 0;
    max-width: 100%;
}

.aside-card {
    position: relative;
    width: 327px;
    flex: 0 0 calc(25% - 12px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    color: #6A7887;

}

.aside-card:hover .aside-card-title {
    color: #E06053;

}

.aside-card a {
    color: inherit;
}

.aside-card-img-wrap {
    width: 100%;
    height: 220px;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 30px;
}

.aside-card-img-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 4px;
}

.aside-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease;
}

.aside-card:hover .aside-card-img {
    transform: scale(1.05);
}

.aside-card-title {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.aside-card-text {
    font-size: 16;
    font-weight: 400;
}

/* adaptive */

/* 769-1023px */
@media (max-width: 1023px) {
    .aside-cards-wrap {
        row-gap: 30px;
    }

    .aside-card {
        flex: 0 0 calc(50% - 8px);
    }
}

/* 641-768px */
@media (max-width: 768px) {}

/*481-600px  */
@media (max-width: 640px) {
    .aside-card {
        flex: 0 0 100%;
    }
}



/* добавить в раздел css buttons / decor / etc/*/
/* линия для заголовка без текста */
.decore-line-with-pattern {
    border-top: 1px solid #2A385F;

}

